@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-light-50 min-h-screen
}

@layer components {
    .hover-animation {
        transition: all;
        -webkit-transition: all;
        -moz-transition: all;
        -ms-transition: all;
        -o-transition: all;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }

    .underline-highlight {
        position: relative;
    }

    .underline-highlight::after {
        background-color: theme('colors.primary.300');
        content: " ";
        height: 30%;
        position: absolute;
        left: 0;
        top: 65%;
        width: 0;
        z-index: -1;
        opacity: 0;
        animation: slideIn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1) forwards;
        -webkit-animation: slideIn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1) forwards;
}

    @keyframes slideIn {
        from {
            opacity: 1;
            width: 0;
        }
        to {
            opacity: 1;
            width: calc(100% + 0.25rem);
        }
    }
}